body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Press Start 2P", cursive;
}

.place {
  font-family: "Stardos Stencil", cursive;
  display: none;
}

#header {
  text-align: center;
}

#map {
  width: 100%;
  height: 450px;
  overflow: hidden;
}