body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Press Start 2P', cursive;
}

debug {
  font-family: 'Stardos Stencil', cursive;
}

#header {
  text-align: center;
}

.fullmap {
  width: 100%;
  height: 450px;
  overflow: hidden;
}